.tag {
  width: 55px;
  text-align: center;
  border: 1px solid #212121;
  border-radius: 3px;

  &.unassigned {
    color: #5c5b5b;
  }
  &.assigned {
    color: #fec01a;
  }
  &.completed {
    color: #0baf41;
  }
}
